h1{
color: rgb(190,80,91);
}
h2{
color: rgb(223,100,118);
}

body{
    background-color: rgb(255,202,211)    ;
}
#fondop{
    background-color: rgb(223,129,143);
}
.listas{
    background-color: rgb(205,146,168);
}